html {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: "Heebo", "sans-serif";
  font-style: normal;
  letter-spacing: 0.03em;
  color: #21243D;
  background-color: #FFF;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
p,
h1,
h2,
h3 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open .close-icon {
  display: block;
}

.menu-button.is-open .open-icon {
  display: none;
}

.menu-icon {
  fill: black;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: none;
    position: absolute;
    z-index: 4;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 0;
    left: 0;
    width: 480px;
    height: 796px;
    padding: 48px;
    background-color: #fff;
  }
}
.mobile-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.close-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    margin-left: auto;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .nav-list .nav-item:not(:first-child) {
    margin-top: 50px;
  }
}
@media screen and (min-width: 768px) {
  .nav-list .nav-item:not(:first-child) {
    margin-left: 33px;
  }
}

.nav-link {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}
.nav-link:hover, .nav-link:focus {
  color: #FF6464;
}

.section .hero {
  padding-top: 33px;
  padding-bottom: 58px;
}
@media screen and (min-width: 1600px) {
  .section .hero {
    padding-top: 140px;
    padding-bottom: 71px;
  }
}

.johns-photo {
  width: 243px;
  height: 243px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
}

@media screen and (min-width: 1600px) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .hero-text-container {
    width: 500px;
  }
}
h1 {
  color: #21243D;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 21px;
}
@media screen and (min-width: 1600px) {
  h1 {
    text-align: start;
  }
}

.hero-description {
  color: #21243D;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 27px;
}
@media screen and (min-width: 1600px) {
  .hero-description {
    text-align: start;
  }
}

.hero-button {
  display: block;
  color: #FFF;
  background-color: #FF6464;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  border: 0;
  border-radius: 2px;
  padding: 13px 20px;
  padding-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1600px) {
  .hero-button {
    display: block;
    margin-left: 0;
    margin-right: auto;
  }
}

.recent-posts {
  background-color: #EDF7FA;
  padding: 0 10px 38px 10px;
}

.recent-posts h2 {
  color: #21243D;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
}
@media screen and (min-width: 1600px) {
  .recent-posts h2 {
    text-align: start;
  }
}

@media screen and (min-width: 1600px) {
  .articles-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articles-list .list-item {
    width: 410px;
  }
  .articles-list .list-item:not(:first-child) {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .articles-list .list-item:not(:first-child) {
    margin-top: 17px;
  }
}

article {
  background-color: #FFF;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
  padding: 12px 20px 20px 20px;
}

article:not(:last-child) {
  margin-bottom: 17px;
}
@media screen and (min-width: 1600px) {
  article:not(:last-child) {
    margin-bottom: 0;
  }
}

.articles-list h3 {
  color: #21243D;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 13px;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
}

.line {
  margin: 0 24px;
}

.posts-text {
  color: #21243D;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 1600px) {
  .works-main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1600px) {
  .works-text-container {
    width: 594px;
    margin-left: 18px;
  }
}

.featured-works h2 {
  color: #21243D;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
}
@media screen and (min-width: 1600px) {
  .featured-works h2 {
    text-align: start;
    margin-bottom: 11px;
  }
}

.links-list .list-item {
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 31px;
}

.img {
  width: 339px;
  margin-bottom: 17px;
}
@media screen and (min-width: 1600px) {
  .img {
    width: 246px;
  }
}

@media screen and (min-width: 375px) {
  .desktop-list-item {
    display: none;
  }
}
@media screen and (min-width: 1600px) {
  .desktop-list-item {
    display: block;
  }
}
.works-title {
  color: #21243D;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 16px;
}

.year-and-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.year {
  color: #FFF;
  background-color: #142850;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  line-height: 60px;
  border-radius: 16px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
}

.type {
  color: #8695A4;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-left: 22px;
}

.works-description {
  color: #21243D;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

footer {
  padding: 52px 71px;
}

.social-networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.social-networks-list .list-item:not(:first-child) {
  margin-left: 35px;
}

.social-network-link {
  color: #21243D;
}

.social-network {
  fill: #21243D;
}

footer p {
  color: #21243D;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.container {
  width: 375px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1600px) {
  .container {
    width: 880px;
  }
}/*# sourceMappingURL=main.css.map */